@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject HttpClient http;

@foreach (var message in _messages)
{
    <p>@message</p>
}

<button onclick="SendMessage"> Send </button>


@code {
    private HubConnection? _hubConnection;
    private List<string> _messages = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7183/chathub")
            .Build();

        _hubConnection.On<string>("GetMessage",GetMessage); //if request from server comes as getmessage method,
                                                                     //then we are telling that we have to redirect him to method GetMessage which is in blazor;

        await _hubConnection.StartAsync();
    }

    private void GetMessage(string message)
    {
        _messages.Add(message);
        StateHasChanged();
    }

    private async Task SendMessage()
    {
        if(_hubConnection!.State == HubConnectionState.Connected) //if client is connected tnen we have to send the message to server;
        {
            await _hubConnection.InvokeAsync(nameof(SendMessage), "hello"); 
        }
    }
}

